/* ============================================= Support Theme Customizations */
body.Mine,
body  {
	background: url('images/background-feature.jpg') center -140px repeat-x #ffffff;
}
div.Menu {
	background: url('images/header-background.png') top center no-repeat;
	height: 56px; 
	position: relative;
	padding: 0;
}
div.Menu ul {
	padding: 0 40px 0 2px;
	float: right;
	background:url("images/header-nav-divider.png") no-repeat scroll left top transparent;
}
div.Menu li {
	float: right;
	display: block;
}
div.Menu li a {
	display: block;
	height: 56px;
	line-height: 4;
	padding: 0 12px;
	font-weight: bold;
	background:url("images/header-nav-divider.png") no-repeat scroll right top transparent;
	color: #fff;
}
div.Menu li a:hover {
	background: url("images/header-nav-menu-backgrounds.png") no-repeat scroll right top #31526F;
	color: #fff;
}
#Head  {
	background: none;
	text-align: right;
}
body #Head h1 {
	margin: 0;
	padding: 0;
	float:left;
}
#Head h1 a span {
	color:#ffffff;
	font-size:24px;
	text-shadow: none;
	line-height: 2.2;
	margin-left: 16px;
}
#About {
	display: none;
}
#vanilla_discussionscontroller_index {
	background-position: center -120px;
}
#vanilla_discussionscontroller_index #About {
	display: block;
	background: url('images/background-about.png') 0 0 no-repeat;
	min-height: 300px;
	font-family: georgia, serif;
	color: #4B4742;
	font-size: 20px;
}
#About h2 {
	padding: 40px 0 20px;
	font-weight: normal;
	font-size: 50px;
	border: 0;
	font-family: georgia, serif;
	color: #fff;
	text-shadow: 0 0px 4px #b6d5e2;
}
#About p {
	width: 400px;
}
#Content {
	clear: left;
}
#Foot {
	background: url('images/footer-border.png') top left repeat-x;
	margin: 0;
}
#Foot div {
	margin: 0 auto;
	padding: 10px 0 6px;
}
#Foot a {
	color: #898378;
}
#Foot div a {
	display: inline-block;
	background: url('images/logo_footer.png') center center no-repeat;
	height: 32px;
	width: 72px;
	padding: 0;
}
#Foot div a span {
	display: none;
}

#Foot a:hover, #Foot a:active {
	color: #69645c;
}
#Panel {
	width: 230px;
}
#Panel #Search {
	display: none;
}
body.Discussion #Panel #Search,
body.Discussions #Panel #Search {
	display: block;
}
#Panel #Search {
	margin: 30px 0 10px;
}
#Panel #Search input.InputBox {
	width:178px;
	margin-right: 3px;
}


div.Tabs {
	border-bottom: 1px solid #999;
	background: none;
	padding: 0  0 0 8px;
}
div.ProfileTabs li a,
div.ProfileTabs li a:link,
div.ProfileTabs li a:hover,
div.ProfileTabs li a:active,
div.ProfileTabs li a:visited,
div.AnswerTabs li a,
div.AnswerTabs li a:link,
div.AnswerTabs li a:hover,
div.AnswerTabs li a:active,
div.AnswerTabs li a:visited,
body.Discussions div.Tabs li a,
body.Discussions div.Tabs li a:link,
body.Discussions div.Tabs li a:hover,
body.Discussions div.Tabs li a:active,
body.Discussions div.Tabs li a:visited {
	display:inline-block;
	line-height: normal;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-bottom: none;

	-webkit-border-radius: none;
	-moz-border-radius: none;
	background: none;
	border: none;
}
.Loading {
   background: url('images/progress.gif') center center no-repeat #fff;
}
div.ProfileTabs li.Active a,
div.AnswerTabs li.Active a,
body.Discussions div.Tabs li.Active a {
	padding: 6px 10px 5px;
	position: relative;
	top: 1px;
	border: 1px solid #999;
	border-bottom: none;
	background: #fff;
}
form.Activity {
	background: #fff;
}
body.mine li.Mine {
	background: none;
}
div.HeadingTabs div.SubTab {
	font-size:16px;
}
.StatBox {
	background: #004C9B;
	padding: 5px 5px 0;
	float: right;
	height: 38px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.2;
}
.StatBox span {
	display: block;
	font-weight: normal;
	font-size:9px;
	line-height: 1;
	padding-bottom:2px;
	min-width:38px;
}
.StatBox,
.StatBox a {
	color: #99e2fe;
	display: block;
}
.StatBox a {
	position: relative;
	z-index: 10;
}
.StatBox a:hover {
	color: #fff;
	text-shadow: 0 0px 5px #fff;
}
.ViewsBox { background: #0065CE; }
.FollowsBox { background: #0053A9; }
.AnswersBox {
	background: #0053A9;
	margin-right: 4px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
}
.HasAnswersBox { background: #013b76; }
.HasAnswersBox a { color: #fff; }
.VotesBox {
	margin-left: 4px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
}
ul.Discussions div.ItemContent a.Title {
	max-width: none;
}


/* Discussions */
a.BigButton,
a.BigButton:hover,
a.BigButton:focus {
   background: url('images/buttonbg.png') repeat-x top left #f8f8f8;
	border: 1px solid #585858;
	color: #fff;
	text-shadow: 0 1px 1px #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
a.BigButton:hover { background-position: 0 -180px; }
a.BigButton:focus { background-position: 0 -360px; }
ul.DataList {
	background: #fff;
}
ul.DataList div.Meta a {
	margin-right: 12px;
}
ul.DataList div.Meta {
	z-index: 5;
	position: relative;
}
ul.DataList div.Meta strong {
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
	box-shadow: 0px 0px 2px #777;
	-moz-box-shadow: 0px 0px 2px #777;
	-webkit-box-shadow: 0px 0px 2px #777;
	background: #FF0;
	color:#000;
	font-size:9px;
	font-weight:bold;
	padding: 3px;
	line-height: 1;
	position:absolute;
	left: 660px;
	white-space: nowrap;
	top: -4px;
}
ul.PanelInfo div.Meta strong {
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 2px #777;
	-moz-box-shadow: 0px 0px 2px #777;
	-webkit-box-shadow: 0px 0px 2px #777;
	background: #FF0;
	color:#000;
	font-size:9px;
	font-weight:bold;
	padding: 3px;
	line-height: 1;
}
ul.MessageList li.Item {
	background: #fff;
}
ul.MessageList div.Meta {
	position: relative;
}
ul.MessageList div.Meta span.Votes {
	text-align: center;
	display: block;
	position: absolute;
	right: 684px;
	line-height: normal;
	padding: 0;
}
span.Votes a,
span.Votes span {
	display: block;
}
ul.MessageList div.Meta span.Votes span {
	padding: 0;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.2;	
}
span.Votes span {
	padding: 0 4px !important;
	background: #0065CE;
	color: #99E2FE !important;
	min-width: 36px;
}
span.Votes a {
	color: #99E2FE;
	background: #004C9B;
}
span.Votes a.VoteUp {
	padding: 3px 4px 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
}
span.Votes a.VoteDown {
	padding: 0 4px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
}
span.Votes a:hover {
	background: #013B76;
	color: #fff;
	text-shadow: 0 0px 5px #fff;	
}

/* Arrow Sprites */
span.Votes i.ArrowSprite i {
	display: none;
}
i.ArrowSprite {
	display: inline-block;
	height: 9px;
	width: 13px;
	background: url('images/arrow_sprite.png') top left no-repeat;
}
i.SpriteDown { background-position: bottom left; }
a:hover i.SpriteUp {	background-position: top right; }
a:hover i.SpriteDown {	background-position: bottom right; }

/* Comments */
body.Discussion a.Bookmark {
	margin: 6px 6px 6px 8px;
}
ul.MessageList li.FirstComment {
	border-bottom: none;
}
div.AnswerTabs {
	margin-top: 12px;
	padding: 6px 8px 0;
	font-size: 11px;
	color: #aaa;
	text-align: right;
	position: relative;
	background: #f5f9ff;
}
div.AnswerTabs strong {
	position: absolute;
	left: 8px;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	margin-right: 20px;
}
div.AnswerTabs ul {
	display: inline-block;
	margin: 0 10px;
}

/* Forms */
body.Post #Content {
	width: 100%;
}
#DiscussionForm form {
	display: block;
	padding-right: 270px;
}
#DiscussionForm label {
	color: #333;
}
#DiscussionForm textarea,
#DiscussionForm input.InputBox {
   width: 100%;
	display: block;
}
#DiscussionForm {
	position: relative;
}
.PostHelp {
	top: 58px;
	right: 20px;
	position: absolute;
	width: 220px;
	background: #1e4262;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 11px;
	box-shadow: 0px 0px 4px #fff;
	-moz-box-shadow: 0px 0px 4px #fff;
	-webkit-box-shadow: 0px 0px 4px #fff;
	color: #fff;
}
.PostHelp h4 {
	color: #fff;
	text-shadow: 0 0px 4px #000;
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
}
.PostHelp .Help {
	padding: 4px 8px;
}
.Help ul { margin: 0 !important; }
.Help ul li {
	list-style: disc;
	margin-left: 14px;
}
div.Examples {
	padding-top: 12px;
}
div.Examples,
div.Help {
	font-size: 11px;
}
div.Examples div {
	font-style: italic;
}
div.Examples div strong {
	font-weight: bold;
	font-style: normal;
	display: inline-block;
}
div.Examples div.Good strong,
div.Examples div.Bad strong {
	text-shadow: 0 0px 3px #000;
}
div.Examples div.Good strong { color: #0a0; }
div.Examples div.Bad strong { color: #f00; }
a.Cancel { margin-left: 20px; }

/* Popups */
div.Popup div.Body {
	border: none;
	-webkit-border-radius: 6px 6px 5px 5px;
	-moz-border-radius: 6px 6px 5px 5px;
	box-shadow: 0px 0px 10px #222;
	-moz-box-shadow: 0px 0px 10px #222;
	-webkit-box-shadow: 0px 0px 10px #222;
}
div.Popup div.Box {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
div.Popup h1, div.Popup h2 {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	background: url('images/header-background.png') center center no-repeat #163755;
	border-bottom:1px solid #1a3857;
}
div.Popup .Footer {
	background:none;
	border:none;
	padding: 0 6px 0 0;
}
#Status {
	background: none;
	color: #555;
	padding: 0 0 8px;
}
/*
  TODO:
  FOLLOWING USERS,
  SHOW FOLLOWED & FOLLOWING USERS ON PROFILE PAGE IN SIDEBAR 
  SHOW HIGHLY VOTED QUESTIONS & ANSWERS IN PROFILES
  WRITE "ASK MARK A QUESTION" ON USER PROFILE PAGE
 
*/