
i.Sprite {
	display: inline-block;
	background-image: url('../../../applications/vfcom/design/images/sprite-icons.png');
	background-repeat: no-repeat;
}
i.Sprite span {
	display: none;
}
i.SpriteLogo {
	height: 38px;
	width: 141px;
	background-position: -38px -76px;
}


/* MENU */
.VFMenu {
   padding: 10px 0 4px;
}
.VFMenu div {
    display: inline;
    padding-left: 3px;
}
.VFMenu a {
	background: url('sprite-menu.png') 0 0 repeat-x;
	display: inline-block;
	overflow: hidden;
	font-weight: bold;
	line-height: 2.5;
	padding: 0 10px 0 5px;
	height: 30px;
	font-size: 12px;
	text-shadow: 0 1px 1px #fff;
	color: #003f87;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #003168;
}
.VFMenu i.Sprite {
	padding-right: 2px;
}
.VFMenu a:hover {
	background: url('sprite-menu.png') 0 -40px repeat-x;
}
.VFMenu a:focus {
	border: 1px solid #002f61;
	border-top: 1px solid #001b39;
	border-bottom: 1px solid #82a6c5;
	background: url('sprite-menu.png') 0 -80px repeat-x;
	text-shadow: 0 1px 1px #003f87;
	color: #cef1fc;
}
i.SpriteHome,
i.SpritePlans,
i.SpriteFeatures,
i.SpriteBlog,
i.SpriteSignIn {
	vertical-align: middle;
	height: 15px;
	width: 14px;
	background-position: -19px 0px;
}
i.SpriteHome { background-position: -19px -19px; }
i.SpritePlans { background-position: -19px -36px; }
i.SpriteFeatures { background-position: -19px -58px; }
i.SpriteBlog { background-position: -19px -152px; }
.VFMenu a:focus i.SpriteHome { background-position: 0 -19px; }
.VFMenu a:focus i.SpritePlans { background-position: 0 -36px; }
.VFMenu a:focus i.SpriteFeatures { background-position: 0 -58px; }
.VFMenu a:focus i.SpriteBlog { background-position: 0 -152px; }
.VFMenu a:focus i.SpriteSignIn { background-position: 0 0; }


div.Wrapper {
   text-align: center;
}
div.Center {
   text-align: left;
   width: 960px;
   margin: 0 auto;
}
#Head div.Center {
   text-align: right;
}
#Head div.Logo {
	margin: 6px 0 0 0;
   float: left;
}
#Head {
   background: url('../../../applications/vfcom/design/images/bg-banner.png') top left repeat-x #014381;
}
#Head .Logo img {
   padding: 10px 0 0;
}
.Divider {
	height: 1px;
	border-top: 2px solid #27b1d9;
	background: #66deff;
	border-bottom: 1px solid #7b939a;
}
.SubNav {
	border-top: 1px solid #b9dde8;
	background: #F3F4F8;
	border-bottom: 1px solid #ddd;
	padding: 6px 0;
}
.SubNav .Center {
	position: relative;
}
.SubNav a {
	font-size: 12px;
	color: #999;
	margin: 0 0 0 20px;
	font-weight: bold;
}
body.Profile .SubNav a.Profile,
body.Vanilla .SubNav a.Home {
	color: #003f87;
}
.SubNav a:hover {
	color: #003f87;
	text-decoration: underline;
}
.SubNav a.Home {
	position: absolute;
	left: 0;
	margin: 0;
}
.SubNav span.Alert {
	font-size: 9px;
   background: #014381;
}
.Foot {
	background: transparent;
	border: none;
}
.Foot a {
	margin: 0 8px;
   padding: 2px 4px;	
}
#Foot div {
	text-align: center;
}

#DiscussionForm form {
   padding: 6px 10px 20px;
}
#DiscussionForm .Tabs {
   margin: 0 -10px;
	background: none;
}
a.ApplyButton {
	display: none;
}


/* Messages */
div.DismissMessage a.Dismiss,
div.DismissMessage a.Dismiss:hover {
   border-radius: 0;
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   color: #777;
   display: block;
   height:14px;
   margin:0;
   padding:1px 3px 2px 4px;
   width:auto;
   font-family:arial;
   font-size:16px;
   font-weight:bold;
   right: -1px;
   top: -1px;
}
div.DismissMessage strong {
	font-weight: bold;
}
div.DismissMessage a.Dismiss:hover {
   text-decoration: none;
   border: none;
   background: #333;
   color: #fff;
}
div.DismissMessage {
   color: #000;
   border: none;
   border-radius: 0;
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   margin: 0 0 10px;
   padding: 10px;
}
/*
div.DismissMessage:first-child {
   margin-top: 10px;
}
*/
div.DismissMessage.Info {
   background: #f3f4f8;
   border: 1px solid #ddd;
}
div.DismissMessage.Warning {
   background: #ffebe9;
   border: 1px solid #FFCCC9;
}
div.DismissMessage.Box {
   background: #fff8ce;
   border: 1px solid #c5bea4;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* Profile Page */
div.Box.Sites div {
	font-size: 10px;
	white-space: nowrap;
	overflow: hidden;
}