/* line 4, sass/custom.scss */
body {
  background: url("images/noise.png") top center repeat #333333 !important;
}

/* line 7, sass/custom.scss */
.Head .Wrapper {
  background: url("images/bg-glow.png") center -80px no-repeat transparent !important;
}

/* line 10, sass/custom.scss */
.Head .Center {
  position: relative;
  min-height: 80px;
}

/* line 14, sass/custom.scss */
.Wrapper {
  text-align: center;
}

/* line 17, sass/custom.scss */
.Center {
  text-align: left;
  width: 960px;
  margin: 0 auto;
}

/* line 22, sass/custom.scss */
.Head {
  background: #014381;
  xbackground: -webkit-gradient(linear, center bottom, center top, from(#256098), to(#014381));
  xbackground: -moz-linear-gradient(top, #014381, #256098);
  x-pie-background: linear-gradient(top, #014381, #256098);
  xbackground: linear-gradient(top, #014381, #256098);
  box-shadow: inset 0 -4px 12px #01284c;
  -moz-box-shadow: inset 0 -4px 12px #01284c;
  -webkit-box-shadow: inset 0 -4px 12px #01284c;
  background: url("images/noise-light.png") top center repeat #014381;
  position: relative;
  *zoom: 1;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.Head:after {
  content: "";
  display: table;
  clear: both;
}

/* line 35, sass/custom.scss */
.Divider {
  background: #66DEFF;
  border-bottom: 1px solid #7B939A;
  border-top: 2px solid #27B1D9;
  height: 1px;
}

/* line 41, sass/custom.scss */
body > .Body {
  background: #fff;
  padding-top: 20px;
  border-top: 1px solid #B9DDE8;
  float: left;
  width: 100%;
}

/* line 48, sass/custom.scss */
body > .Foot {
  -moz-box-shadow: inset 0px 4px 2px #111;
  -webkit-box-shadow: inset 0px 4px 2px #111;
  -o-box-shadow: inset 0px 4px 2px #111;
  box-shadow: inset 0px 4px 2px #111;
  border-top: 1px solid #222;
  position: relative;
  float: left;
  width: 100%;
  padding: 0 0 40px;
}

/* line 59, sass/custom.scss */
.Foot .Wrapper {
  background: url("images/bg-glow.png") center -80px no-repeat transparent;
  padding: 40px 0 0;
  min-height: 100px;
}

/* line 64, sass/custom.scss */
.Foot .Columns strong {
  display: block;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
}

/* line 70, sass/custom.scss */
.Foot .Columns a {
  color: #aaa;
}

/* line 73, sass/custom.scss */
.Foot .Columns a:hover {
  color: #bbb;
}

/* line 76, sass/custom.scss */
.Column4 {
  float: left;
  width: 25%;
  font-size: 13px;
  line-height: 1.6;
}

/* line 82, sass/custom.scss */
.Column3 {
  float: left;
  width: 33%;
  margin: 40px 0;
  font-size: 13px;
  line-height: 1.6;
}

/* line 89, sass/custom.scss */
h1.Logo {
  top: 10px;
  left: 0;
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 96, sass/custom.scss */
h1.Logo a {
  color: transparent;
  font-size: 1px;
  display: block;
  height: 65px;
  width: 132px;
  overflow: hidden;
  text-align: left;
  text-indent: -1000px;
  background: url("images/vanilla-forums-logo-light-132px.png") 0 0 no-repeat;
}

/* Contact used on narrow master view */
/* line 108, sass/custom.scss */
.Head .Contact {
  position: absolute;
  top: 26px;
  right: 0;
  font-size: 13px;
  color: #ffda30;
}

/* line 115, sass/custom.scss */
.Head .Contact strong {
  font-weight: normal;
  color: #fff;
  font-size: 20px;
}

/* MENU */
/*.Menus {
    position: relative;
    top: 16px;
    right: 0;
}*/
/* line 128, sass/custom.scss */
.AccountMenu {
  position: absolute;
  top: 10px;
  right: 4px;
}

/* line 133, sass/custom.scss */
.AccountMenu a {
  font-size: 12px;
  text-shadow: 0 1px 1px #000;
  color: #fff;
  margin: 0 10px;
}

/* line 139, sass/custom.scss */
.AccountMenu a:hover {
  text-shadow: none;
  text-decoration: underline;
}

/* line 143, sass/custom.scss */
.AccountMenu a:last-child {
  margin: 0 0 0 10px;
}

/* line 149, sass/custom.scss */
body.Search .AccountMenu a.Support,
body.Vanilla .AccountMenu a.Support,
body.Profile .AccountMenu a.Profile,
body.Account .AccountMenu a.Account {
  color: #ff0;
  font-weight: bold;
}

/* line 153, sass/custom.scss */
.VFMenu {
  position: absolute;
  top: 36px;
  right: 0;
  height: 35px;
  overflow: visible;
  box-shadow: 0 0 4px #001329;
  -moz-box-shadow: 0 0 4px #001329;
  -webkit-box-shadow: 0 0 4px #001329;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #3bb6f3;
  background: -webkit-gradient(linear, center bottom, center top, from(#3bb6f3), to(#b8e9fd));
  background: -moz-linear-gradient(top, #b8e9fd, #3bb6f3);
  -pie-background: linear-gradient(top, #b8e9fd, #3bb6f3);
  background: linear-gradient(top, #b8e9fd, #3bb6f3);
}

/* line 186, sass/custom.scss */
.OrangeButton,
.OrangeButton:hover,
.BigButton,
.BigButton:hover,
.PurpleButton,
.PurpleButton:hover,
.GreenButton,
.GreenButton:hover,
.SmallBlueButton,
.SmallBlueButton:hover,
.BlueButton,
.BlueButton:hover,
.RedButton,
.RedButton:hover,
.VFMenu a {
  background: #3bb6f3;
  background: -webkit-gradient(linear, center bottom, center top, from(#3bb6f3), to(#b8e9fd));
  background: -moz-linear-gradient(top, #b8e9fd, #3bb6f3);
  -pie-background: linear-gradient(top, #b8e9fd, #3bb6f3);
  background: linear-gradient(top, #b8e9fd, #3bb6f3);
  border-color: #001329;
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
  	/* line-height: 34px;
  	padding: 0 14px;
  	height: 34px;
   */
  line-height: 27px;
  padding: 4px 14px;
  font-size: 12px;
  text-shadow: 0 1px 1px #fff;
  color: #003f87;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 224, sass/custom.scss */
input.OrangeButton,
input.OrangeButton:hover,
input.BigButton,
input.BigButton:hover,
input.PurpleButton,
input.PurpleButton:hover,
input.GreenButton,
input.GreenButton:hover,
input.SmallBlueButton,
input.SmallBlueButton:hover,
input.BlueButton,
input.BlueButton:hover,
input.RedButton,
input.RedButton:hover {
  font-size: 14px;
  padding: 10px 14px;
}

/* line 228, sass/custom.scss */
.VFMenu a {
  border-color: #3bb6f3;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-width: 0 1px 0 0;
}

/* line 235, sass/custom.scss */
.VFMenu a:first-child {
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}

/* line 240, sass/custom.scss */
.VFMenu a:last-child {
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-width: 0;
}

/* line 246, sass/custom.scss */
.VFMenu a:hover {
  box-shadow: inset 0 0 3px #fff;
  -moz-box-shadow: inset 0 0 3px #fff;
  -webkit-box-shadow: inset 0 0 3px #fff;
  color: #003f87;
}

/* line 261, sass/custom.scss */
.SmallBlueButton:focus,
.BlueButton:focus,
.VFMenu a:focus,
body#vfcom_info_index .VFMenu a.Home,
body.Resources .VFMenu a.Resources,
body.Tour .VFMenu a.Tour,
body.plans .VFMenu a.Plans,
body.Solutions .VFMenu a.Solutions,
body.Showcase .VFMenu a.Showcase,
body.Features .VFMenu a.Features {
  background: #002a59;
  background: -webkit-gradient(linear, center bottom, center top, from(#024d8f), to(#002a59));
  background: -moz-linear-gradient(top, #002a59, #024d8f);
  -pie-background: linear-gradient(top, #002a59, #024d8f);
  background: linear-gradient(top, #002a59, #024d8f);
  box-shadow: inset 0 -1px 0px #82a6c5, inset 0 1px 1px #001b39;
  -moz-box-shadow: inset 0 -1px 0px #82a6c5, inset 0 1px 1px #001b39;
  -webkit-box-shadow: inset 0 -1px 0px #82a6c5, inset 0 1px 1px #001b39;
  text-shadow: 0 -1px 1px #001b39;
  color: #cef1fc;
}

/* line 279, sass/custom.scss */
body#vfcom_info_index .VFMenu a.Home,
body.Resources .VFMenu a.Resources,
body.plans .VFMenu a.Plans,
body.Features .VFMenu a.Features {
  border-width: 0;
}

/* line 287, sass/custom.scss */
.SmallBlueButton,
.SmallBlueButton:hover,
.SmallBlueButton:focus,
.BlueButton,
.BlueButton:hover,
.BlueButton:focus {
  background: #3bb6f3;
  background: -webkit-gradient(linear, center bottom, center top, from(#3bb6f3), to(#b8e9fd));
  background: -moz-linear-gradient(top, #b8e9fd, #3bb6f3);
  -pie-background: linear-gradient(top, #b8e9fd, #3bb6f3);
  background: linear-gradient(top, #b8e9fd, #3bb6f3);
  border-color: #001329;
  text-shadow: 0 1px 1px #fff;
  color: #003f87;
  box-shadow: 0 0 4px #001329, inset 0 0 1px #f7fdff;
  -moz-box-shadow: 0 0 4px #001329, inset 0 0 1px #f7fdff;
  -webkit-box-shadow: 0 0 4px #001329, inset 0 0 1px #f7fdff;
}

/* line 304, sass/custom.scss */
.SmallBlueButton:hover,
.BlueButton:hover {
  background: #3bb6f3;
}

/* line 308, sass/custom.scss */
.SmallBlueButton:focus,
.BlueButton:focus {
  background: #0f94d6;
}

/* line 313, sass/custom.scss */
.OrangeButton,
.OrangeButton:hover,
.OrangeButton:focus {
  background: #c64100;
  background: -webkit-gradient(linear, center bottom, center top, from(#c64100), to(#ff9008));
  background: -moz-linear-gradient(top, #ff9008, #c64100);
  -pie-background: linear-gradient(top, #ff9008, #c64100);
  background: linear-gradient(top, #ff9008, #c64100);
  border-color: #4c1104;
  color: #fff;
  text-shadow: 0 -1px 1px #ac4f18;
  box-shadow: 0 0 4px #001329, inset 0 0 1px #913000;
  -moz-box-shadow: 0 0 4px #001329, inset 0 0 1px #913000;
  -webkit-box-shadow: 0 0 4px #001329, inset 0 0 1px #913000;
}

/* line 329, sass/custom.scss */
.OrangeButton:hover {
  background: #c64100;
}

/* line 332, sass/custom.scss */
.OrangeButton:focus {
  background: #a43600;
}

/* line 337, sass/custom.scss */
.GreenButton,
.GreenButton:hover,
.GreenButton:focus {
  background: #2c9000;
  background: -webkit-gradient(linear, center bottom, center top, from(#2c9000), to(#4cbc01));
  background: -moz-linear-gradient(top, #4cbc01, #2c9000);
  -pie-background: linear-gradient(top, #4cbc01, #2c9000);
  background: linear-gradient(top, #4cbc01, #2c9000);
  border-color: #133f00;
  color: #fff;
  text-shadow: 0 -1px 1px #1f6600;
  box-shadow: 0 0 4px #001329, inset 0 0 1px #c2ffbc;
  -moz-box-shadow: 0 0 4px #001329, inset 0 0 1px #c2ffbc;
  -webkit-box-shadow: 0 0 4px #001329, inset 0 0 1px #c2ffbc;
}

/* line 353, sass/custom.scss */
.GreenButton:hover {
  background: #2c9000;
}

/* line 356, sass/custom.scss */
.GreenButton:focus {
  background: #1f6600;
  border-color: #0a2100;
}

/* line 365, sass/custom.scss */
.BigButton,
.BigButton:hover,
.BigButton:focus,
.PurpleButton,
.PurpleButton:hover,
.PurpleButton:focus {
  background: #981d5a;
  background: -webkit-gradient(linear, center bottom, center top, from(#981d5a), to(#d43f8b));
  background: -moz-linear-gradient(top, #d43f8b, #981d5a);
  -pie-background: linear-gradient(top, #d43f8b, #981d5a);
  background: linear-gradient(top, #d43f8b, #981d5a);
  border-color: #5c0531;
  color: #fff;
  text-shadow: 0 -1px 1px #8b114f;
  box-shadow: 0 0 4px #001329, inset 0 0 1px #ff8af8;
  -moz-box-shadow: 0 0 4px #001329, inset 0 0 1px #ff8af8;
  -webkit-box-shadow: 0 0 4px #001329, inset 0 0 1px #ff8af8;
}

/* line 382, sass/custom.scss */
.BigButton:hover,
.PurpleButton:hover {
  background: #981d5a;
}

/* line 386, sass/custom.scss */
.BigButton:focus,
.PurpleButton:focus {
  background: #8b114f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 394, sass/custom.scss */
.BigButton,
.BigButton:hover,
.BigButton:focus {
  display: block;
}

/* line 399, sass/custom.scss */
.RedButton,
.RedButton:hover,
.RedButton:focus {
  background: #b40613;
  background: -webkit-gradient(linear, center bottom, center top, from(#b40613), to(#eb3543));
  background: -moz-linear-gradient(top, #eb3543, #b40613);
  -pie-background: linear-gradient(top, #eb3543, #b40613);
  background: linear-gradient(top, #eb3543, #b40613);
  border-color: #7c020b;
  color: #fff;
  text-shadow: 0 -1px 1px #7c020b;
  box-shadow: 0 0 4px #001329, inset 0 0 1px #f8adad;
  -moz-box-shadow: 0 0 4px #001329, inset 0 0 1px #f8adad;
  -webkit-box-shadow: 0 0 4px #001329, inset 0 0 1px #f8adad;
}

/* line 415, sass/custom.scss */
.RedButton:hover {
  background: #b40613;
}

/* line 418, sass/custom.scss */
.RedButton:focus {
  background: #7c020b;
  border-color: #5d0007;
}

/* line 424, sass/custom.scss */
.SmallBlueButton,
.SmallBlueButton:hover,
.SmallBlueButton:focus {
  padding: 4px 6px;
  font-size: 12px;
  height: auto;
  line-height: 1;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 433, sass/custom.scss */
.Head .SignUpButton {
  position: absolute;
  top: 31px;
  right: 440px;
}

/* line 439, sass/custom.scss */
body.Conversations.add .FormWrapper,
body.Vanilla.Post .FormWrapper {
  background: none;
  margin: 0;
  padding: 0;
}

/* line 444, sass/custom.scss */
a.ApplyButton {
  display: none;
}

/* Login Page */
/* line 449, sass/custom.scss */
body.Entry #Content {
  position: relative;
}

/* line 452, sass/custom.scss */
.LoginHelp {
  font-size: 13px;
  padding: 10px;
  text-align: left;
  width: 300px;
  position: absolute;
  right: 10px;
  z-index: 2;
  margin-top: -180px;
}

/* line 462, sass/custom.scss */
.LoginHelp p {
  color: #777;
  margin: 0;
  padding: 0 0 10px;
  font-size: 12px;
}

/* line 472, sass/custom.scss */
body#dashboard_entry_passwordrequest #Content,
body#dashboard_entry_passwordreset #Content,
body#dashboard_entry_password #Content,
body#dashboard_entry_signin #Content,
body#dashboard_entry_index #Content {
  max-width: 640px;
  width: 640px;
  margin-bottom: 40px;
}

/* line 478, sass/custom.scss */
body.Entry div.Box,
body.Entry div.Entry {
  position: relative;
  z-index: 1;
  width: auto;
}

/* line 483, sass/custom.scss */
body.Entry div.Box p {
  text-align: left;
}

/* line 487, sass/custom.scss */
body.Entry div.Box,
body.Entry div.Entry div.MainForm {
  width: auto;
  border: 10px solid #f5f5f5;
  border-width: 10px;
  background: #fafafa;
  padding: 0 10px 10px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  -webkit-box-shadow: 0 1px 2px #999;
}

/* line 498, sass/custom.scss */
body.Entry div.Entry div.MainForm {
  border-width: 10px 340px 10px 10px;
}

/* line 501, sass/custom.scss */
#Form_User_Password .ForgotPassword {
  display: block;
  margin-left: 0;
}

/* line 505, sass/custom.scss */
body.Entry.register div.Box {
  border-width: 10px;
}

/* line 508, sass/custom.scss */
body.Entry.register #Content form {
  padding: 0;
}

/* line 511, sass/custom.scss */
body.Entry div.Entry div.MainForm {
  min-height: 150px;
}

/* line 515, sass/custom.scss */
body#dashboard_entry_passwordrequest #Content div.Box,
body#dashboard_entry_passwordreset #Content div.Box {
  padding: 10px;
  border-width: 10px;
}

/* line 520, sass/custom.scss */
body.Entry#dashboard_entry_passwordrequest #Content form,
body.Entry#dashboard_entry_passwordreset #Content form {
  padding: 0;
}

/* Forms */
/* line 525, sass/custom.scss */
#DiscussionForm form {
  background: #fafafa;
  border: 10px solid #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  -webkit-box-shadow: 0 0 2px #999;
}

/* Popups */
/* line 538, sass/custom.scss */
div.Border {
  border: 1px solid #66deff;
  background: none;
  padding: 0;
}

/* line 543, sass/custom.scss */
div.Popup div.Border {
  max-width: 600px;
}

/* line 546, sass/custom.scss */
div.Popup div.Body {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

/* line 551, sass/custom.scss */
.Popup .Body {
  border: 2px solid #27b1d9 !important;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/* line 557, sass/custom.scss */
.Popup .Body .Content {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/*
div.Popup h1, div.Popup h2, div.Connect h1, div.Connect h2 {
   border: 1px solid #004487;
   border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   -webkit-border-radius: 4px 4px 0 0;
   background: url('images/bg-heading-tile.png') 0 -1px repeat-x #004d99;
   color: #FFFFFF;
}
*/
/* line 572, sass/custom.scss */
div.Popup h1, div.Popup h2, div.Connect h1, div.Connect h2 {
  margin: 0 0 5px;
}

/* line 575, sass/custom.scss */
div.Popup div.MultipleEntryMethods h1 {
  padding: 5px 9px 4px;
}

/* line 578, sass/custom.scss */
div.Overlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}

/* line 581, sass/custom.scss */
a.Close, a.Close:hover {
  right: 11px;
  top: 9px;
  text-decoration: none;
}

/* line 586, sass/custom.scss */
div.MultipleEntryMethods {
  width: 494px;
}

/* line 589, sass/custom.scss */
.RoleTitle {
  color: #000000;
  font-weight: bold;
}

/* Search box on discussion list */
/* line 595, sass/custom.scss */
#Content .SearchForm {
  border: 1px solid #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin: 0 0 8px;
  padding: 8px;
  background: #F6F8FE;
  -moz-box-shadow: inset 0 0 4px #fff;
}

/* line 605, sass/custom.scss */
#Content .SearchForm .InputBox {
  font-size: 13px;
  margin-right: 6px;
  width: 582px;
}

/* line 610, sass/custom.scss */
.NumberPoint {
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  box-shadow: inset 0 0 2px #000, 0 0 2px #256098;
  -moz-box-shadow: inset 0 0 2px #000, 0 0 2px #256098;
  -webkit-box-shadow: inset 0 0 2px #000, 0 0 2px #256098;
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  background: #014381;
  background: -webkit-gradient(linear, center bottom, center top, from(#256098), to(#014381));
  background: -moz-linear-gradient(top, #014381, #256098);
  -pie-background: linear-gradient(top, #014381, #256098);
  background: linear-gradient(top, #014381, #256098);
  border: 4px solid #7ad5ff;
  color: #aae4ff;
  text-shadow: 0 1px 0 #001c65;
  font-family: monospace,Arial,Sans-Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  height: 36px;
  left: -40px;
  line-height: 1.3;
  position: absolute;
  text-align: center;
  top: -8px;
  width: 36px;
}

/* Forum Fixes */
/* line 641, sass/custom.scss */
.ClearFix {
  clear: none;
  display: none;
}

/* line 642, sass/custom.scss */
.Message {
  clear: none;
}

/* line 643, sass/custom.scss */
.UserSignature {
  overflow: auto;
}

/* line 644, sass/custom.scss */
body.filenotfound #Panel {
  display: none;
}

/* line 647, sass/custom.scss */
body.filenotfound #Content {
  float: none;
  width: 500px;
  margin: 0 auto 30px;
  border: 10px solid #f5f5f5;
  border-width: 10px;
  background: #fafafa;
  padding: 10px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  -webkit-box-shadow: 0 1px 2px #999;
}

/* line 662, sass/custom.scss */
.Tag {
  background: #96DAF9;
  border: 1px solid #057EEE;
  color: #195388;
}

/* line 668, sass/custom.scss */
.BreadcrumbWrap {
  border-top: 1px solid #B9DDE8;
  background: #F6F8FE;
  border-bottom: 1px solid #ddd;
  color: #999;
  font-size: 11px;
}

/* line 676, sass/custom.scss */
.BreadcrumbWrap a {
  color: #444;
}

/* line 680, sass/custom.scss */
.BreadcrumbWrap a:hover {
  text-decoration: underline;
}

/* line 684, sass/custom.scss */
.Body {
  border: none !important;
}

/* line 688, sass/custom.scss */
.Pager {
  font-size: 14px;
}

/* line 691, sass/custom.scss */
#Content {
  padding-bottom: 40px;
}

/* line 695, sass/custom.scss */
.Foot .Columns {
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

/* line 700, sass/custom.scss */
.PoweredByRackspace {
  margin-top: 20px;
  text-align: center;
}

/* line 705, sass/custom.scss */
.MultipleEntryMethods .Methods,
#Form_User_SignIn .CreateAccount {
  display: none !important;
}

/* line 709, sass/custom.scss */
body.Entry li.Buttons {
  padding-bottom: 0;
}

/* line 712, sass/custom.scss */
body.Entry div.Entry div.MainForm {
  border-right-width: 365px;
}

@media (max-width: 960px) {
  /* line 2, sass/_mobile.scss */
  .Center {
    width: auto;
  }

  /* line 5, sass/_mobile.scss */
  .Head .Center, .Splash {
    margin: 0 20px;
  }

  /* line 9, sass/_mobile.scss */
  div.Tour {
    margin: 20px !important;
  }

  /* line 13, sass/_mobile.scss */
  .TRow .Col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50% !important;
  }

  /* line 18, sass/_mobile.scss */
  .TRow img {
    width: 100% !important;
  }

  /* line 22, sass/_mobile.scss */
  .Splash .Feature {
    width: 50% !important;
  }
  /* line 26, sass/_mobile.scss */
  .Splash .Feature #slideshow img {
    width: 100% !important;
  }

  /* line 32, sass/_mobile.scss */
  .Splash-Info {
    width: 50%;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  /* line 39, sass/_mobile.scss */
  .Head .Center {
    margin: 0;
    height: 90px;
  }

  /* line 45, sass/_mobile.scss */
  .Menus .VFMenu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    width: 100%;
    top: 60px !important;
    text-align: center;
  }
  /* line 52, sass/_mobile.scss */
  .Menus .VFMenu a:first-child, .Menus .VFMenu a:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 58, sass/_mobile.scss */
  .Menus .AccountMenu {
    width: 100%;
    left: 0;
    top: 30px !important;
    text-align: right;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 68, sass/_mobile.scss */
  h1.Logo a {
    height: 40px;
    background-size: auto 40px;
    margin-left: 10px;
  }

  /* line 75, sass/_mobile.scss */
  body#vfcom_info_index h1.Logo {
    top: 10px !important;
    left: 0 !important;
  }
  /* line 78, sass/_mobile.scss */
  body#vfcom_info_index h1.Logo a {
    height: 40px;
    background-size: auto 40px !important;
  }
  /* line 84, sass/_mobile.scss */
  body#vfcom_info_index .Column3 {
    float: none;
    width: auto;
    margin: 0 20px;
  }
  /* line 89, sass/_mobile.scss */
  body#vfcom_info_index .Column3 img.Bordered {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 95, sass/_mobile.scss */
  body#vfcom_info_index .SplashBox {
    margin-top: 20px;
  }

  /* line 100, sass/_mobile.scss */
  .Splash h1 {
    margin-top: 10px !important;
  }

  /* line 104, sass/_mobile.scss */
  .Splash .Feature {
    display: none;
  }

  /* line 108, sass/_mobile.scss */
  .Splash-Info {
    width: 100%;
    margin-right: 0;
  }
  /* line 112, sass/_mobile.scss */
  .Splash-Info .CTAButtons {
    text-align: center;
  }
  /* line 115, sass/_mobile.scss */
  .Splash-Info .CTAButtons a {
    min-width: 75px;
  }

  /* line 121, sass/_mobile.scss */
  .TRow .Col {
    float: none !important;
    width: 100% !important;
  }

  /* line 126, sass/_mobile.scss */
  .TRow .Col1 {
    padding-right: 0 !important;
  }

  /* line 130, sass/_mobile.scss */
  #Panel {
    display: none;
  }

  /* line 134, sass/_mobile.scss */
  #Body .ContentColumn {
    margin: 0;
  }

  /* line 138, sass/_mobile.scss */
  .Row {
    width: inherit;
    margin: 0 20px;
    min-width: inherit;
  }

  /* line 144, sass/_mobile.scss */
  #Head .MeWrap {
    right: 40px !Important;
  }

  /* line 149, sass/_mobile.scss */
  #Content .BoxNewDiscussion {
    display: inline-block;
  }
  /* line 153, sass/_mobile.scss */
  #Content .SearchForm {
    display: none;
  }
  /* line 157, sass/_mobile.scss */
  #Content .BoxNewDiscussion .MenuItems {
    min-width: 175px;
  }
  /* line 161, sass/_mobile.scss */
  #Content .DataList {
    margin-right: -20px;
    margin-left: -20px;
  }

  /* line 167, sass/_mobile.scss */
  .Addons ul li {
    text-align: left !important;
    width: auto !important;
    margin-right: 0 !important;
    display: block !important;
  }
  /* line 173, sass/_mobile.scss */
  .Addons ul li strong, .Addons ul li em {
    float: none !important;
    display: block;
  }

  /* line 179, sass/_mobile.scss */
  .FAQ {
    display: block !important;
    width: auto !important;
    padding: 0 !important;
  }
}
@media (max-width: 500px) {
  /* line 187, sass/_mobile.scss */
  .Card {
    width: auto !important;
    margin-right: 0 !important;
    float: none !important;
  }
}
