
        <footer class="footer" style="background-color: #404040; color: white;">
            <div class="container noMargin">
                <div style="display: flex; align-items: center; height: 50px;">
                    Footer
                </div>
            </div>
        </footer>
