<header class="header" style="background-color: #404040; color: white;">
    <div class="container">
        <div style="display: flex; align-items: center; height: 50px;">
            Header
        </div>
    </div>
</header>
