//
// # Buttons
//
// Styleguide Buttons

@mixin button {
  display: inline-block;
  padding: 6px 12px;
  vertical-align: middle;
  font-size: ($font-size-base - 2px);
  font-weight: 700;
  line-height: $line-height-base;
  text-transform: uppercase;
  border: transparent solid 1px;
  border-radius: $border-radius-base;
  transition: box-shadow 50ms;
  -webkit-font-smoothing: inherit;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    border-top-color: lighten($black,85%);
    border-top-color: rgba($black,.15);
    box-shadow: 0 1px 2px rgba($black,.15) inset;
  }
}

@mixin button-style($color, $bg) {
  color: $color;
  background-color: $bg;
  background-repeat: repeat-x;
  @include linear-gradient(lighten($bg, 2%), darken($bg, 2%));

  &:hover,
  &:focus,
  &:active {
    color: $color;
    background-color: darken($bg, 2%);
    background-position: 0 -15px;
  }
}

.button,
.Button {
  @include button;
  @include button-style($button-default-color, $button-default-bg);
}

.Button {
  box-shadow: none;

  &,
  &:hover,
  &:focus,
  &:active {
    text-shadow: none;
    border-color: transparent;
  }
}

.BigButton {
  &.Primary,
  &.Danger {
    width: 100%;
    font-size: ($font-size-base + 2px);
  }
}
