//
// # Forms
//
// Styleguide Forms

@mixin form-control {
  display: block;
  width: 100% !important;
  padding: 6px 12px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  border-radius: 4px;
}

.InputBox,
.SmallInput,
.TextBox,
.token-input-list {
  @include form-control;
}

.DateBox {
  display: inline-block;
}

// ## Text area wrapper
//
// Styleguide Forms.textarea

.CommentForm .FormWrapper {
  padding-left: 90px;

  .Buttons {
    margin-left: -90px;

    .Back {
      display: none;
    }
  }
}

// ## Checkbox and radio input
//
// Styleguide Forms.Inputs

.icheckbox,
.iradio {
  display: inline-block;
  line-height: $line-height-base;
  cursor: pointer;

  &:before {
    @include icon;
    min-width: 1em;
    font-size: $line-height-base;
    color: lighten($text-color, 25%);
    content: $icon-circle-blank;
    vertical-align: middle;
  }

  &.checked:before {
    color: $brand-primary;
  }
}

.icheckbox.checked:before {
  content: $icon-ok-circle;
}

.iradio.checked:before {
  content: $icon-dot-circle;
}

// # Misc. forms
//
// Styleguide Forms.Misc

.PostOptions {
  .ReactSprite {
    margin: 5px;
    width: 14px;
    height: 14px;
  }
}
