// # Utilities
//
// Styleguide Shared.Utilities

@mixin icon() {
  display: inline-block;
  min-width: 1em;
  font-family: "vanillicon";
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
