.DateTile {
   display: block;
   float: left;
   width: 40px;
   text-align: center;
   margin: 2px 10px 0 0;
   padding: 4px 0 3px;
   line-height: 1.1;
   @include border-radius(5px);
   background-color: $reverseBackground;
   color: $reverseText;
}
.DateTile .Month {
   display: block;
   font-size: 10px;
   text-transform: uppercase;
}
.DateTile .Day {
   font-size: 18px;
   display: block;
}