
            <header class="header" style="background-color: #404040; color: white;">
                <div class="container">
                    <a href="/kb" style="display: flex; align-items: center; height: 50px; color: white; text-decoration: none; padding-left: 12px;">
                        Header
                    </a>
                </div>
            </header>
