<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <title>Knowledge Base</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="format-detection" content="telephone=no" />
        <link href="" rel="stylesheet"/>
        <script src=""></script>
    </head>
<body>


<!-- Above Header -->
<!-- Header Partial -->
<!-- Menu -->
<!-- below Header -->
<!-- messages -->
<!-- breadcrumbs -->
<!-- main body -->
<!-- pager -->
<!-- footer -->
<!-- sticky footer -->
<!-- scripts -->


<h1>Knowledge Base</h1>
{{ vanilla }}
</body>
</html>
