h1 {
  margin: 0;
}

#Content {
  h1 {
    display: none;
  }
}

.Discussion .Title {
  font-size: $font-size-large;
  font-weight: 700;
}

.MItem,
.Meta .Tag,
.DataList .Excerpt {
  color: $color-base;
  font-size: $font-size-base;
}
