h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
}

h1,
h2,
h3 {
  margin-top: $line-height-base;
  margin-bottom: ($line-height-base / 2);
}

h4,
h5,
h6 {
  margin-top: ($line-height-base / 2);
  margin-bottom: ($line-height-base / 2);
}

p {
  margin: 0 0 ($line-height-base / 2);
}

h1 {
  margin: 0;
}

#Content {
  h1 {
    display: none;
  }
}

.Discussion .Title {
  font-size: $font-size-large;
  font-weight: 700;
}

.MItem,
.Meta .Tag,
.DataList .Excerpt {
  color: $color-base;
  font-size: $font-size-base;
}
