// Palette URL: http://paletton.com/#uid=13L0u0klllleMaZi3gaoCqwrUvH

$color-primary-0: #2E4272;
$color-primary-1: #222A3B;
$color-primary-2: #2B3856;
$color-primary-3: #2C4A8D;
$color-primary-4: #254DA9;

$rgba-primary-0: rgba( 46, 66,114,1);
$rgba-primary-1: rgba( 34, 42, 59,1);
$rgba-primary-2: rgba( 43, 56, 86,1);
$rgba-primary-3: rgba( 44, 74,141,1);
$rgba-primary-4: rgba( 37, 77,169,1);

$white: #fff;
$black: #000;

$font-family-base: sans-serif;

$font-size-base: 16px;
$font-size-x-small: 8px;
$font-size-small: 12px;
$font-size-large: 20px;
$font-size-x-large: 24px;

$padding-x-small: 5px;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 40px;
$padding-x-large: 80px;

$line-height-base: 24px;
$line-height-small: 16px;
$line-height-large: 42px;

$color-base: $black;
$color-heading: $color-primary-0;
$color-link: $color-primary-4;
$color-link-hover: darken($color-link, 10%);

$bg-content: $white;
$bg-panel: darken($color-primary-1, 8%);
$bg-panel-light: $color-primary-2;
$bg-panel-rgba: darken($rgba-primary-1, 8%);

$box-shadow-content: 0 0 50px 30px $bg-panel-rgba;
