//
// # Panel
//
// Styleguide Panel

.site-sidebar {
  font-size: 18px;
  line-height: 35px;

  .UserBox {
    display: none;
  }

  .Aside {
    margin-left: 20px;
  }

  .PhotoWrapLarge {
    margin-bottom: 20px;
  }
}

.CategoryFilter {
  display: none;
}
