<section class="frame">
    <header class="frameHeader">
        <h2>{{ t("Convert to Article") }}</h2>
        <a class="Close"></a>
    </header>
    <div class="frameBody">
        <div class="framePanel">
            <div class="frameBody-contents smartAlign-outer">
                <p class="smartAlign-inner">
                    {{ t("This will create an article that is a copy of this discussion. The discussion will then be linked to the new article.") }}
                </p>
            </div>
        </div>
    </div>
    <footer class="frameFooter">
        <a href="{{editorUrl}}">Create Article</a>
    </footer>
</section>