version: 2.1
orbs:
    core: vanilla/core@2
    jobs: vanilla/jobs@1
executors:
    sphinx:
        docker:
            - image: circleci/php:7.2.19-fpm-node
            - image: vanillaryan/sphinxsearch-vanilla-ci
              environment:
                  MYSQL_HOST: 127.0.0.1
                  MYSQL_DATABASE: vanilla_test
            - image: mysql:5.7
              environment:
                  MYSQL_DATABASE: vanilla_test
                  MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
jobs:
    php_sphinx_tests:
        executor: sphinx
        steps:
            - attach_workspace:
                at: ~/workspace
            - run:
                    name: Versions
                    command: |
                        php --version
                        composer --version
            - core/checkout
            -   run: ~/workspace/ci-scripts/clone-vanilla.sh
            # We explcitly don't cache dependencies.
            # The cache validation & fetching seems to take longer than fetching from source.
            - run:
                name: Install Composer Packages
                command: |
                    cd ~/workspace/vanilla
                    VANILLA_BUILD_DISABLE_AUTO_BUILD=true composer install --optimize-autoloader
            -   persist_to_workspace:
                    root: ~/workspace
                    paths:
                        - repo
                        - ci-scripts
                        - vanilla
            -   run:
                    name: Test setup
                    command: |
                        cd ~/workspace/vanilla
                        cp ./.circleci/scripts/templates/vanilla/conf/bootstrap.before.php ./conf/bootstrap.before.php
                        cp ~/workspace/repo/.circleci/sphinx/sphinxapi.php ./sphinxapi.php
                        echo $'\nrequire_once("../sphinxapi.php");' | tee -a ./conf/bootstrap.before.php
            - run:
                    name: Prepare MySQL
                    command: ~/workspace/ci-scripts/prepare-mysql.sh
            - run:
                    name: Configuring Hosts
                    command: |
                        # Localhost redirects
                        echo 127.0.0.1 vanilla.test | sudo tee -a /etc/hosts
                        cat /etc/hosts
            -   run:
                    name: APIv2 Sphinx Tests
                    command: |
                        cd ~/workspace/vanilla
                        ./vendor/bin/phpunit -c phpunit.xml.dist --exclude-group=ignore --testsuite="Sphinx"
workflows:
    version: 2
    commit:
        jobs:
            # PHP 7.2 jobs are only nightly until we move upwards on infra.
            - php_sphinx_tests:
                  name: php_sphinx_tests
            - jobs/php_setup:
                  name: php_setup
            - jobs/php_72_lint
            - jobs/php_72_tests:
                  requires:
                      - php_setup
            # JS and browsers
            - jobs/frontend_setup:
                  name: frontend_setup
            - jobs/frontend_lint:
                  requires:
                      - frontend_setup
            - jobs/frontend_typechecker:
                  requires:
                      - frontend_setup
            - jobs/frontend_build:
                  requires:
                      - frontend_setup
            - jobs/frontend_test:
                  requires:
                      - frontend_setup
    nightly:
        triggers:
            - schedule:
                  cron: "0 0 * * *" # Once a day.
                  filters:
                      branches:
                          only:
                              - master
        jobs:
            - jobs/dependency_audit
            # PHP and serverside
            - jobs/php_setup:
                  name: php_setup
            - jobs/php_72_lint
            - jobs/php_73_lint
            - jobs/php_72_tests:
                  requires:
                      - php_setup
            - jobs/php_73_tests:
                  requires:
                      - php_setup
            ## JS & browsers
            - jobs/frontend_setup:
                  name: frontend_setup
            - jobs/frontend_lint:
                  requires:
                      - frontend_setup
            - jobs/frontend_typechecker:
                  requires:
                      - frontend_setup
            - jobs/frontend_build:
                  requires:
                      - frontend_setup
            - jobs/frontend_test:
                  requires:
                      - frontend_setup
