body {
    background: url(header_bg_line.gif) repeat-x scroll center top #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}
a {
    color: #0096CE;
    text-decoration: none;
}
a:hover {
    color: #33CCFF;
    text-decoration: none;
}

a.Button, .Button {
    color: #0096CE;
}
a.BigButton, a.BigButton:focus {
    background: -moz-linear-gradient(center top , #3296d1, #2376bc) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, left top, left bottom, from(#3296d1), to(#2376bc));

    border: 1px solid #666;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 0 2px #f1f1f1;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #3296d1;
}
a.BigButton:hover {
	color:#ffffff;
	}


#container {
	margin:0 auto;
	width:960px;
   line-height: 1.7em;
   padding-bottom: 10px;
}

#Body {
	margin: 0;
	width: 99.9%;
	position: relative;
}
#Head {
	background: #3B5998;
	padding:0;
	margin: 20px 20px 0;
	text-align: left;
	position: relative;
}
div.Popup h1,
div.Popup h2 {
	background: #000;
	border: none;
}
.Banner {
	padding: 10px;
	text-align: left;
	position: relative;
}
.Banner ul {
	background: none;
	padding: 0;
	margin: 0;
}
.Banner ul li {
	display: inline;
	padding: 0;
	margin: 0;
}
.Banner ul li a {
	font-weight: bold;
	padding: 3px 6px;
	font-size: 13px;
	color: #3c3c3c;
	display: inline-block;
}
.Banner ul li a:hover {
	color: #0096CE;
}
.Banner ul li a.SignOut {
	font-weight: normal;
	position: absolute;
	top: 10px;
	right: 10px;
}
.Banner ul li a span {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 1px 2px 0 1px;
	background: #E3F4FF;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #3c3c3c;
	font-size: 9px;
	position: relative;
	top: -3px;
}
#Content {
	float: none;
	width: auto;
	margin: 0 280px 0 10px;
}
#Panel {
	float: right;
	margin-right: 10px;
}
#Panel div.SearchBox input.InputBox {
	width: 200px;
	margin-right: 4px;
}
div.SearchBox {
	margin-bottom: 6px;
}
body.Profile div.SearchBox {
	display: none;
}
body.Profile #Content {
	float:none;
	width: auto;
	margin: 0 10px 0 280px;
}
body.Profile #Panel {
	margin: 0 0 0 10px;
}
form.Activity textarea {
	width:99%;
}
#Foot div {
	width: auto;
}
body.Post #Content {
	width: auto;
	margin:0 20px;
}
#ConversationForm textarea.MultiComplete,
#ConversationForm .TextBox,
#MessageForm textarea,
div.Comment div.CommentForm,
div.Comment div.CommentForm textarea,
div.CommentForm textarea,
#DiscussionForm input.InputBox,
#DiscussionForm textarea {
	width:99%;
}

/* Tabs */
div.Tabs {
	background: none;
	padding: 0;
	border-bottom: 1px solid #aaa;
}
div.Tabs ul {
	padding: 0 8px;
	white-space: nowrap;
}
div.MessageForm {
	padding: 8px 8px 5px;
}
div.MessageForm div.Tabs {
	padding: 0 8px;
}

/* css fix for message spacing - Brand-Friendly 1.2 */

	div.Preview div.Message, ul.MessageList div.Message {
		clear: none;
		font-size: 100%;
		line-height: 140%;
	}

div.Tabs li a,
div.Tabs li a:link,
div.Tabs li a:hover,
div.Tabs li a:active,
div.Tabs li a:visited {
	font-size: 11px;
   margin: 0;
   border: none;
   border-radius: 0;
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   background: none;
   color: #1E79A7;
   text-decoration: none;
   padding: 8px 10px;
	line-height: 11px;
}
div.Tabs li a:hover {
   text-decoration: underline;
}
a.Active,
div.Tabs li.Active a {
   background: #fff;
   color: #474747;
   margin: 0;
   border: 1px solid #aaa;
	border-bottom: none;
   border-radius: 3px 3px 0 0;
   -moz-border-radius: 3px 3px 0 0;
   -webkit-border-radius: 3px 3px 0 0;
   display: inline-block;
	font-size: 12px;
	line-height: 12px;
   font-weight: bold;
   text-decoration: none;
   padding: 6px 10px;
	position: relative;
	top: 1px;
}
div.Tabs li a span {
   line-height: 1;
   font-size: 80%;
   padding: 0 3px;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   font-weight: normal;
	background: #E3F4FF;
   color: #70727C;
   margin: 0 0 0 4px;
}
div.DiscussionsTabs div.SubTab {
	font-size: 11px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-top: 1px solid #aaa;
	background: #f3f3f3;
	margin:0;
	padding:4px 8px;
}
div.HeadingTabs ul {
	margin: 8px 0 0;
}
body.Discussion a.Bookmark {
	margin: 6px 2px;
}
div.Preview {
	border: 1px solid #aaa;
	background: #fff;
	margin:0 0 8px;
	padding: 8px;
}
.Foot {
	background: none;
	border: none;
}
div.MorePager a,
div.MorePager a:link,
div.MorePager a:visited,
div.MorePager a:active,
div.MorePager a:hover {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: none;
	border: none;
	color: #1e79a7;
	line-height: 1;
	padding: 0;
	text-decoration: none;	
}
div.MorePager a:hover {
	color: #ff0084;
	text-decoration: underline;
}
body.add #Content {
	margin: 0 10px;
}

/* DataList */

ul.MessageList li.Item,
ul.DataList li.Item {
   background: #f7f7f7;
	margin-bottom: 1px;
}
ul.MessageList li.Item:nth-child(even),
ul.DataList li.Item:nth-child(even) {
	background: #fff;
}
ul.DataList li.Mine div.Meta a.Category,
ul.DataList div.Meta a.Category {
	background: none;
}
ul.Activities ul.DataList {
    border:1px solid #ccc;
}
ul.Activities ul.DataList li {
    background: #f1f1f1;
}

span.Alert {
    background: #2376bc;
    border-radius: 2px 2px 2px 2px;
    color: #fff;
    padding: 1px 4px;
    text-shadow: 0 1px 1px #0096CE;
}

/* forms */

form.Activity {
    padding: 10px;
}

/* Panel Boxes */
div.Box {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: none;
	padding: 0;
}
div.Box h4 {
	color: #333;
}
ul.PanelInfo {
	border-top:1px solid #ccc;
}
ul.PanelInfo li,
ul.PanelInfo li.Active {
	background: none;
	border-bottom: 1px solid #ccc;
}
ul.PanelInfo li.Active {
	background: #f1f1f1;
}
body.Profile ul.PanelInfo {
	border: none;
}
body.Profile ul.PanelInfo li {
	margin: 0;
	padding: 0;
}
body.Profile ul.PanelInfo li a {
	font-size: 12px;
	display: block;
	padding: 0 6px;
}
body.Profile ul.PanelInfo li a:hover {
	background: #none;
}
#Status {
    background: none;
    padding: 8px 8px 10px;
}
/* Sign In Page */
body.Entry #Content div.Box {
	background: #efefef;
}
body.Entry #Panel {
	display: none;
}

/* Webmaster Bond CSS */

.main {
    margin: 0 auto;
    padding: 0;
}
.center {
    text-align: center;
}
.blok_header {
    height: 170px;
    margin: 0;
    padding: 0;
}
.header {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
.header .topbar {
    background-color: #000000;
    border-bottom: 1px solid #FFFFFF;
    height: 30px;
    width: 100%;
}
#logo {
    color: #ECECE3;
    float: left;
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 2px 0 0;
    width: 208px;
}
#logo img {
    border: 0 none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#logo a {
    border: 0 none;
    display: block;
    /*height: 26px;*/
    margin: -2px 0 0;
    padding: 2px 4px;
    text-decoration: none;
    width: 208px;
}
#logo a:hover {
    background-color: #333333;
}
#topuserbar {
    color: #9A9A9A;
    float: right;
    font: 11px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 10px 0 4px 20px;
    position: relative;
    text-align: right;
    width: 670px;
}
#topuserbar a {
    color: #0096CE !important;
    text-decoration: none;
}
#topuserbar a:hover {
    color: #33CCFF !important;
    text-decoration: none;
}
#topuserbar img {
    border: 0 none;
    margin-bottom: -2px;
}
.header {
    margin: 0 auto;
    padding: 0;
}
.midbar {
    background: url(header_bg3.gif) no-repeat scroll center top transparent;
    display: block;
    height: 131px;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
.header .header_text {
    border: 0 none;
    height: 64px;
    overflow: hidden;
    padding-top: 10px;
}
.header .header_text h1 {
    border: 0 none;
    color: #3C3C3C;
    display: table;
    float: left;
    font: 32px/110% Arial,Helvetica,sans-serif;
    height: 80px;
    margin: -6px 0 20px 15px;
    overflow: hidden;
    padding: 0;
    width: 540px;
}
.header .h1_1 {
    display: table-cell;
    vertical-align: middle;
}
.header .h1_2 {
}
.header .header_text p {
    border: 0 none;
    color: #0E0E0E;
    float: right;
    font: italic 11px/1.5em Arial,Helvetica,sans-serif;
    height: 68px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1px 0 0;
    width: 300px;
}
.menu {
    float: left;
    height: 51px;
    margin: 0;
    padding: 0;
    width: 670px;
}
.menu ul {
    border: 0 none;
    float: left;
    list-style: none outside none;
    margin: 5px 0 0 20px;
    padding: 0;
    text-align: left;
}
.menu ul li {
    border: 0 none;
    float: left;
    margin: 0;
    padding: 0 5px;
}
.menu ul li a {
    color: #363636;
    float: left;
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 12px 0;
    text-decoration: none;
}
.menu ul li a span {
    background: none repeat scroll 0 0 transparent;
    padding: 12px 9px;
}
.menu ul li a:hover {
    background: url(r_menu.gif) no-repeat scroll right center transparent;
    color: #FFFFFF;
}
.menu ul li a:hover span {
    background: url(l_menu.gif) no-repeat scroll left center transparent;
    color: #FFFFFF;
}
.menu ul li a.active {
    background: url(r_menu.gif) no-repeat scroll right center transparent;
    color: #FFFFFF;
}
.menu ul li a.active span {
    background: url(l_menu.gif) no-repeat scroll left center transparent;
    color: #FFFFFF;
}
.search {
    float: right;
    height: 51px;
    margin: 0;
    padding: 0;
    width: 270px;
}
.search form {
    display: block;
    float: right;
    margin: 8px 30px 0 0;
    padding: 0;
}
.search span {
    background: url(search_bg.gif) no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 32px;
    overflow: hidden;
    padding: 0 5px;
    width: 160px;
}
.search form .keywords {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #6C6C6C;
    float: left;
    font: 12px/14px Arial,Helvetica,sans-serif;
    height: 14px;
    margin: 0;
    padding: 9px 0;
    width: 174px;
}
.search form .button {
    float: left;
    margin: 0;
    padding: 0;
}
.header_text {
    border-bottom: 1px solid #D8D8D8;
    margin: 0 auto 10px;
    padding: 5px 10px;
    width: 940px;
}
.header_text h2 {
    color: #6D6D6D;
    font: 14px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 5px 0;
}
.header_text h2 span {
    color: #A2A2A2;
    font: 11px Arial,Helvetica,sans-serif;
}
.header_text img {
    float: right;
    margin: 0;
    padding: 5px 0 0;
}
p.clr, .clr {
    clear: both;
    margin: 0;
    padding: 0;
}

.FBG_blog {
    background: none repeat scroll 0 0 #191919;
    border-bottom: 1px solid #0E0E0E;
    border-top: 1px solid #0E0E0E;
    margin: 0;
    padding: 0;
}
.FBG_blog_resize {
    margin: 0 auto;
    padding: 10px 15px;
    width: 930px;
}
.FBG_blog_resize p {
    color: #6F6F6F;
    font: 11px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
.FBG_blog_resize p span {
    color: #0096CE;
    font: 12px Arial,Helvetica,sans-serif;
}
.FBG_blog_resize img {
    float: right;
    margin: 0;
    padding: 0;
}
.FBG_blog_resize .recent {
    float: left;
    margin: 5px 0 0;
    padding: 0;
    width: 560px;
}
.FBG {
    background: none repeat scroll 0 0 #252525;
    border-top: 1px solid #323232;
    margin: 0;
    padding: 0;
}
.FBG_resize {
    margin: 0 auto;
    padding: 20px 0;
    width: 960px;
}
.FBG_resize p {
    color: #717171;
    font: 11px/1.5em Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 5px 0;
}
.FBG_resize ul {
    list-style: none outside none;
    margin: 10px auto;
    padding: 0;
}
.FBG_resize li {
    margin: 0;
    padding: 0;
}
.FBG_resize li a {
    color: #666666;
    font: 11px Arial,Helvetica,sans-serif;
    text-decoration: none;
}
.FBG_resize li a:hover {
    color: #D5D5D5;
}
.FBG_resize h2 {
    color: #D5D5D5;
    font: bold 14px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 5px 0;
}
.FBG_resize .left {
    float: left;
    margin: 0;
    padding: 20px 15px;
    width: 130px;
}

.footer {
    background: none repeat scroll 0 0 #252525;
    border-top: 1px solid #434343;
    margin: 0;
    padding: 0;
}
.footer_resize {
    margin: 0 auto;
    padding: 10px 15px;
    width: 930px;
}
.footer p {
    color: #A2A2A2;
    font: 11px Arial,Helvetica,sans-serif;
}
.footer a {
    color: #A2A2A2;
    font: bold 11px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 5px;
    text-decoration: none;
}
.footer p.right {
    float: right;
    margin: 0;
    padding: 15px 0 0;
    text-align: right;
    width: 350px;
}
.footer p.leftt {
    float: left;
    margin: 0;
    padding: 15px 0 0;
    text-align: left;
    width: 550px;
}
.form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDEDE;
    float: left;
    margin: 5px auto;
    padding: 0;
    width: 550px;
}
#contactform {
    margin: 0;
    padding: 5px 0;
}
#contactform * {
    color: #7A7A7A;
}
#contactform ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#contactform li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    margin: 0;
    padding: 0;
}
#contactform li.buttons {
    margin: 5px 0;
}
#contactform label {
    color: #222222;
    float: left;
    font: bold 11px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 5px 0;
    text-transform: capitalize;
    width: 150px;
}
#contactform label span {
    font: 10px Arial,Helvetica,sans-serif;
}
#contactform input.text {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E9E9E9;
    float: left;
    height: 15px;
    margin: 5px 0;
    padding: 5px 2px;
    width: 480px;
}
#contactform textarea {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E9E9E9;
    float: left;
    height: 150px;
    margin: 10px 0;
    padding: 2px;
    width: 480px;
}
#contactform li.buttons input {
    border: 0 none;
    color: #FFFFFF;
    margin: 0 0 0 370px;
    padding: 3px 0;
}
p.response {
    color: #2C2C2C;
    font: bold 11px/1.5em Arial,Helvetica,sans-serif;
    text-align: center;
    width: auto;
}
p.clr, .clr {
    clear: both;
    margin: 0;
    padding: 0;
}
#loginLink, #registerLink {
    background-color: #000000;
    cursor: pointer;
    padding: 6px;
}
#loginDropdown {
    background-color: #FFFFFF;
    border-color: #000000;
    border-right: 1px solid #000000;
    border-style: solid;
    border-width: 0 1px 5px;
    display: none;
    margin-top: 6px;
    padding: 0 10px;
    position: absolute;
    right: 55px;
    text-align: left;
    z-index: 999;
}
#loginDropdown p {
    font: 11px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 5px 0 4px;
}
#loginDropdown input[type="text"], #loginDropdown input[type="password"] {
    border: 1px solid #CCCCCC;
    cursor: text;
    display: block;
    margin: 0;
    padding: 2px;
}
#signin_submit::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
#signin_submit:hover, #signin_submit:focus {
    background-position: 0 -5px;
    cursor: pointer;
}
input[type="checkbox"] {
    -moz-appearance: none;
    color: white;
}
#signin_submit {
    background: url(bg-btn-blue.png) repeat-x scroll 0 0 #3399DD;
    border: 1px solid #3399DD;
    border-radius: 4px 4px 4px 4px;
    color: #F7F7F7;
    font-size: 11px;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #3399DD;
}
.bold {
    color: #0099FF;
}
#loginDropdown a:hover {
    text-decoration: underline;
}
#loginDropdown input[type="text"] {
    width: 170px;
}
#loginDropdown input[type="password"] {
    width: 170px;
}
#loginDropdown input[type="password"] {
    width: 170px;
}

.QnA-Accepted {
   background: url('check.png') no-repeat;
   display: block;
   height: 40px;
   position: absolute;
   left: -50px;
   top: 10px;
   width: 40px;
}
.QnA-Accepted div {
   display: none;
}

.QnA-Tag-Accepted {
   background: #61adc7;
	background:-webkit-gradient(linear, center bottom, center top, from(#61adc7), to(#9fd4e6));
	background:-moz-linear-gradient(top, #9fd4e6, #61adc7);
	-pie-background:linear-gradient(top, #9fd4e6, #61adc7);
	background:linear-gradient(top, #9fd4e6, #61adc7);
   text-shadow: 0 1px 1px rgba(0,0,0,.7);
}