body.Home {
	background: url('images/bg-tile.png') top left repeat #f9f1dc;
}
body.Home .SplashInfo {
   border-top: 1px solid #EED3A2;
   background: #FEF7DF;
   border-bottom: 1px solid #EED3A2;
}
body.Home .SplashInfo h1 {
   color: #744000;
   text-shadow: none;
}
body.Home .SplashInfo p {
   color: #B76600;
   text-shadow: none;
}