.Row {
    @include pie-clearfix;
    @include min-width(960px);
    max-width: 1180px;
    padding: 0 20px;
}

#Panel {
    float: left;
    width: 220px;
    padding: {
        right: 20px;
    }
}

#Content {
    margin: {
        left: 220px;
    }
}