<header class="header-block">
    <h1>
        {{ Title }}</h1>
    <div class="btn-container">
        <a class="js-modal btn btn-primary" href="{{ url('/knowledge-settings/knowledge-bases/add') }}">
            {{ t('Add Knowledge Base') }}</a>
    </div>
</header>
<div data-react="knowledge-bases-table"></div>
