
/** Vanilla compatibility fixes **/
#Head { background: none; }
#Head,
#Body { 
    width: 960px;
    margin: 0 auto;
}
#Content {
    width: 680px;
    margin: 0 0 40px;
    float: left;
}
#Panel {
    float: right;
    width: 250px;
}
#Panel .BigButton {
    margin: 10px 0;
}
ul#Menu,
ul#Menu li {
    display: inline;
}
ul#Menu li a {
    display: inline-block;
    color: #000;
    background: #efefef;
    padding: 3px 6px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}