<main>
                        <ul>
                        {%- for category in page %}

                            {%- if category.url %}

                            <li>
                                <a href="{{ category.url }}">
                                    {{ category.name }}
                                </a>
                                {%- if category.excerpt %}

                                <p>
                                    {{ category.excerpt }}
                                </p>
                                {%- endif %}

                            </li>

                            {%- endif %}

                        {%- endfor %}

                        </ul>
                    </main>
