<div>ORGANIZE CATEGORIES TWIG TEMPLATE READY</div>

{#{% include '../components/splash.twig' with splash %}#}
{#{% include '../components/categoryDirectory.twig' with categories %}#}
{#{% include '../components/featuredArticles.twig' with articles %}#}

