body {
	background: #603122;
}
a:link, a:visited {
	color: #5f3021;
	text-decoration: none;
}
a:hover {
	color: #5f3021;
	text-decoration: underline;
}
a:active {
	color: #5f3021;
	text-decoration: none;
}
#header_wrap {
  background: #603122 url(../images/brown/background.png) repeat-x;
}
#header {
  background: url(../images/brown/header-bg.png) no-repeat 100% 0;
}
#header .subscribe {
  color: #b58a7c;
}
#header .navigation li a {
	color: #f1f1f1;
	text-shadow: #000 0 1px 0;
	background: #361b13;
	border-color: #361b13;
}
#header .navigation li a:hover, 
#header .navigation li.current_page_item a,
#header .navigation li.current_page_parent a {
	color: #000;
	text-shadow: #fff 0 1px 0;
	background: #f1f1f1;
	border-color: #f1f1f1;
}
.extend {
  background: url(../images/brown/extend.png) repeat-x;
}
#footer p {
  color: #b58a7c;
  text-shadow: none;
  background: url(../images/brown/footer-divider.gif) repeat-x left bottom;
}
.left_block ul {
  background: url(../images/brown/footer-divider.gif) repeat-x left top;
}
.left_block ul li a {
  background: url(../images/brown/footer-divider.gif) repeat-x left bottom;
}
.left_block ul li a:hover {
  background-color: #3e1d11;
}
.credits {
  color: #b58a7c;
}