.Button {
  padding-top: $padding-small;
  padding-bottom: $padding-small;
  font-family: $font-family-button;
  font-weight: 400;
  color: $color-button;
  text-transform: uppercase;
  text-shadow: none;
  background: none;
  background-color: $bg-button;
  border: 0;
  box-shadow: none;
  transition: background-color, 200ms;

  &:hover,
  &:active {
    color: $color-button;
    background-color: $bg-button-hover;
  }

  &.Handle {
    width: 20%;

    .Sprite {
      top: 2px !important;
      border-width: 7px;
      border-color: $white transparent transparent;
    }
  }
}

.BigButton,
.NewDiscussion .Button {
  padding-top: $padding-medium !important;
  padding-bottom: $padding-medium !important;
  margin-top: 0;
  margin-bottom: $padding-small;
  font-size: $font-size-large !important;
  font-weight: 400;
}

// 'Ask A Question' button
#Panel .ButtonGroup.Big > .Button:first-child {
  width: 80%;
}

.ButtonGroup.Open .Button.Handle {
  background-color: $bg-button-hover;
}

//Form buttons
.Buttons {
  line-height: 36px;
}

//allows buttons to go under left margin of form wrapper
.FormWrapper-Condensed {
  .Buttons {
    margin-left: -150px !important;

    .Back {
      display: none;
    }
  }
}

.PreviewButton {
  margin: 0 !important;
}
