.Flyout,
.Dropdown {
  text-align: left;

  &.MenuItems {
    li {
      padding-top: $padding-x-small;
    }

    a {
      font-size: $font-size-base !important;
      font-weight: 400 !important;
      transition: background-color, 200ms;

      &:hover {
        color: #333 !important;
        background-color: $bg-flyout-hover !important;
      }
    }
  }

  .Title {
    &,
    a {
      font-size: $font-size-base !important;
      font-weight: 400 !important;
    }
  }
}

.PopList {
  .Item {
    &:hover {
      background: none;
    }
  }
}
