@mixin form-control {
  display: block;
  width: 100% !important;
  padding: $padding-small;
  font-size: $font-size-base;
  line-height: $line-height-base;
  border-radius: 5px;
  &:focus {
    background: 0;
    background-color: $white;
  }
}

.InputBox,
.SmallInput,
.TextBox,
.token-input-list {
  @include form-control;
}

.FormWrapper,
.FormTitleWrapper form {
  background: 0 !important;
}
