.js-panel-arrow {
  position: absolute;
  top: 63px;
  left: -10px;
  width: 0;
  height: 0;
  z-index: 5;
  margin-right: 40px;
  border-style: solid;
  border-width: 15px;
  border-color: $color-link;
  border-left: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transition: opacity, 200ms;

  &:hover {
    opacity: .7;
  }
}

#Panel {
  //@include radial-gradient(darken($bg-panel-light, 10%), $bg-panel 40%);
  padding-top: $padding-medium;
  background-color: $bg-panel;
  border-top-left-radius: 35px;
  transition: all 300ms ease;

  .GuestBox p {
    color: $white;
  }
  h4 {
    color: $white;
  }
  .FilterMenu,
  .PanelCategories {
    li {
      border-color: $black;
      transition: background-color, 200ms;

      &:hover {
        background-color: $black;
      }

      a {
        color: $white;
      }
    }
  }
}

.panel-circle {
  position: absolute;
  top: 40px;
  left: -25px;
  width: 40px;
  height: 80px;
  z-index: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: $bg-panel;
  content: " ";
}

.panel-content {
  float: left;
  z-index: 8;
  margin-left: 40px;
  width: 250px;
}

.SpNotifications,
.SpOptions {
  background-position-y: -212px;
}

.SpInbox {
  background-position-y: -228px;
}

.SpBookmarks {
  background-position-y: -244px;
}

.Box {
  margin-top: $padding-medium;
}
