.panel-arrow {
  position: absolute;
  top: 63px;
  left: -10px;
  z-index: 5;
  width: 0;
  height: 0;
  margin-right: $padding-large;
  border-style: solid;
  border-width: 15px;
  border-color: $color-link;
  border-left: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transition: opacity, 200ms;

  .is-out & {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: .7;

  }
}

#Panel {
  padding-top: $padding-medium;
  background-color: $bg-panel;
  border-top-left-radius: 35px;
  transition: all 300ms ease;

  .GuestBox p {
    color: $white;
  }
  h4 {
    color: $white;
  }

  .Email {
    color: $white;
    font-size: $font-size-small;
  }

  .FilterMenu,
  .PanelCategories,
  .PanelInfo {
    li {
      border-color: $black;
      transition: background-color, 200ms;

      &.Active {
        font-weight: 400;
      }

      &.Active,
      &:hover {
        background-color: $black;
      }

      a {
        color: $white;
      }
    }
  }
}

.panel-circle {
  position: absolute;
  top: 40px;
  left: -25px;
  width: 40px;
  height: 80px;
  z-index: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: $bg-panel;
  content: " ";
}

.panel-content {
  float: left;
  z-index: 8;
  margin-left: 40px;
  width: 250px;
}

.SpNotifications,
.SpOptions {
  background-position-y: -212px;
}

.SpInbox {
  background-position-y: -228px;
}

.SpBookmarks {
  background-position-y: -244px;
}

.Box {
  margin-top: $padding-medium;
}

a.ChangePicture {
  width: 200px;
}
