/* line 3, sass/_columns.scss */
.Group-Content {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}

/* line 3, sass/_event.scss */
.Event.add .DatePicker {
  width: 120px;
}
/* line 7, sass/_event.scss */
.Event.add .TimePicker {
  width: 100px;
}
/* line 13, sass/_event.scss */
.Event.add .EventTime .P > div {
  display: inline-block;
}
/* line 17, sass/_event.scss */
.Event.add .EventTime .To {
  display: none;
}
/* line 21, sass/_event.scss */
.Event.add .EventTime .Timezone {
  display: inline-block;
}
/* line 25, sass/_event.scss */
.Event.add .EventTime .EndTime, .Event.add .EventTime .NoEndTime {
  float: right;
}
/* line 29, sass/_event.scss */
.Event.add .EventTime label {
  display: none;
  width: 50px;
}
/* line 34, sass/_event.scss */
.Event.add .EventTime label.When {
  display: inline-block;
}
/* line 38, sass/_event.scss */
.Event.add .EventTime .Timebased {
  display: none !important;
}
/* line 42, sass/_event.scss */
.Event.add .EventTime .Timezone select {
  position: absolute;
  visibility: hidden;
  top: 16px;
}
/* line 48, sass/_event.scss */
.Event.add .EventTime .Timezone .EventTimezoneDisplay {
  cursor: pointer;
}
/* line 51, sass/_event.scss */
.Event.add .EventTime .Timezone .EventTimezoneDisplay:hover {
  text-decoration: underline;
}
/* line 58, sass/_event.scss */
.Event.add .EventTime.Times .Timebased {
  display: inline-block !important;
}
/* line 66, sass/_event.scss */
.Event.add .EventTime.Both .To {
  display: block;
}
/* line 70, sass/_event.scss */
.Event.add .EventTime.Both label {
  display: inline-block;
}
/* line 74, sass/_event.scss */
.Event.add .EventTime.Both label.When {
  display: none;
}
/* line 78, sass/_event.scss */
.Event.add .EventTime.Both .EndTime {
  display: none !important;
}

/* line 85, sass/_event.scss */
.ui-timepicker-list {
  overflow-y: auto;
  height: 150px;
  width: 6.5em;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #dddddd;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 10001;
}

/* line 102, sass/_event.scss */
.ui-timepicker-list.ui-timepicker-with-duration {
  width: 11em;
}

/* line 106, sass/_event.scss */
.ui-timepicker-duration {
  margin-left: 5px;
  color: #888;
}

/* line 110, sass/_event.scss */
.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}

/* line 114, sass/_event.scss */
.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
}

/* line 123, sass/_event.scss */
.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff;
  color: #000;
}

/* line 129, sass/_event.scss */
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list:hover .ui-timepicker-selected:hover {
  background: #1980EC;
  color: #fff;
}

/* line 134, sass/_event.scss */
li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}
