/* line 3, sass/_columns.scss */
.Group-Content {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  -ms-column-gap: 30px;
  -o-column-gap: 30px;
  column-gap: 30px;
  min-height: 120px;
}

/* line 9, sass/_columns.scss */
.Group-Content .Group-Box {
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  min-height: 100px;
}

/* line 1, sass/_datetile.scss */
.DateTile {
  display: block;
  float: left;
  width: 40px;
  text-align: center;
  margin: 2px 10px 0 0;
  padding: 4px 0 3px;
  line-height: 1.1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #333333;
  color: white;
}

/* line 13, sass/_datetile.scss */
.DateTile .Month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

/* line 18, sass/_datetile.scss */
.DateTile .Day {
  font-size: 18px;
  display: block;
}

/* line 2, sass/_empty.scss */
.EmptyMessage {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  padding: 15px 5px;
  width: 90%;
  background: #f7f7f7;
  border: 1px solid #dddddd;
  color: #70727c;
}

/* line 8, sass/groups.scss */
.Group-Banner {
  height: 200px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

/* line 16, sass/groups.scss */
.Group-Icon {
  max-width: 100px;
  max-height: 100px;
  padding: 10px 15px 0 0;
  float: left;
}

/* line 23, sass/groups.scss */
.Group-Title {
  margin: 10px 0 10px;
  font-size: 36px;
  line-height: 1;
}

/* line 29, sass/groups.scss */
.Group-Description {
  line-height: 1.4;
}

/* line 33, sass/groups.scss */
.Group-Buttons {
  margin-top: 10px;
  float: right;
}
/* line 37, sass/groups.scss */
.Group-Buttons .BigButton {
  display: inline-block;
}

/* line 42, sass/groups.scss */
.Group-Content {
  clear: left;
  margin: 10px 0;
  padding-bottom: 20px;
}

/* line 48, sass/groups.scss */
.Group-Header {
  *zoom: 1;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.Group-Header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, sass/groups.scss */
.Group-Footer {
  border-top: 1px solid #dddddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f7f7f7, #ffffff);
  background-image: -moz-linear-gradient(#f7f7f7, #ffffff);
  background-image: -o-linear-gradient(#f7f7f7, #ffffff);
  background-image: linear-gradient(#f7f7f7, #ffffff);
  *zoom: 1;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.Group-Footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 57, sass/groups.scss */
.Group-Footer .Group-Box {
  width: 200px;
  margin-right: 30px;
  float: left;
}

/* line 62, sass/groups.scss */
.Group-Footer .Group-Members {
  width: 480px;
  margin-right: 0;
}
