body{
	background: #fff;
	color: #000;
}
a, a:link, a:visited, a:active {
    color: #000;
    text-decoration: none;
}
a:hover{
	color: #ff000;
}
#Panel li a{
	color: #000;
}
ul.PanelInfo li.Active a {
    color: #ddd;
}
a.Button, .Button {
    color: #000;
}
a.BigButton {
    color: #000;
    margin: 0 0 30px;
}
#Head {
   background: transparent;
}
#Head a{
   color: #333;
   font-size: 13px;
}
.SiteMenu {
   margin-left: 0;
}
.SiteMenu li:first-child a {
   padding-left: 0;
}
.SiteSearch .InputBox {
   border: 1px solid #888 !important;
}
.BreadcrumbsWrapper {
   padding: 3px 8px;
   background: #fafafa;
   border: 1px dashed #eee;
   font-size: 11px;
   margin: 10px 0;
}
.Banner {
	 margin: 0 auto;
    position: relative;
    text-align: left;
    vertical-align: bottom;
    width: 980px;
}
#TopBanner{
    height: 150px;
    position: relative;
    vertical-align: bottom;
    width: 980px;
}
.TitleBanner {
    margin: 10px 0;
    width: 980px;
}
.TitleBanner .Title {
   color: #675251;
   font-variant: small-caps;
   font-family: verdana, sans-serif;
   letter-spacing: 0.5ex;
   font-size: 22px;
}
#TopBanner .Banner {
   text-align: center;
}
.Banner ul {
	 background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
    position: relative;
    width: 980px;
}
.Banner ul li {
	display: inline;
	padding: 0;
	margin: 0;
}
.Banner ul li a {
	font-weight: bold;
	padding: 3px 6px;
	font-size: 12px;
	color: #000;
	display: inline-block;
}
.Banner ul li a:hover {
	color: #ff0000;
}
.Banner ul li a.SignOut {
	font-weight: normal;
	position: absolute;
	top: 0px;
	right: 10px;
}
.Banner ul li a span {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 1px 2px 0 1px;
	background: #f00;

	color: #fff;
	font-size: 9px;
	position: relative;
	top: -3px;
}

.AdBanner{
	background: url(9SHBanner6.jpg) no-repeat;
	width: 728px;
	height: 90px;
	padding: 10px 0 10px;
}


body.disclaimer a {
   color: #f00;
}

body.disclaimer {
   margin-top: 20px;
}

body.disclaimer h1 {
   border: none;
}