{% if IdeasDatas is not empty %}
    <div class="PopularPosts">
        <h1 class="H BestOfIdeationTitle">{{ SectionTitle }}</h1>
        <ul class="DataList Discussions">
            {{ IdeaListHtml|raw }}
        </ul>
    </div>
{% endif %}
