//
// # Forms
//
// Styleguide Forms

@mixin form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

input.InputBox,
input.SmallInput,
textarea.TextBox {
  @include form-control;
}
