//
// # Scaffolding
//
// No styleguide reference.

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-ratio;
  color: $text-color;
  background-color: $body-bg;
}

img {
  vertical-align: middle;
}
