/*--------------------------------------*/
/* CSS Created by Penny Arcade - 2010 --*/
/* www.penny-arcade.com ----------------*/
/*--------------------------------------*/

/*---------------------*/
/* Rockwell Bold ------*/
/*---------------------*/
@font-face {
	font-family: 'RockwellBold';
	src: url(css_fonts_rockwell_bold-webfont.eot);
	src: local('☺'), url(css_fonts_rockwell_bold-webfont.woff) format('woff'), url(css_fonts_rockwell_bold-webfont.ttf) format('truetype'), url(css_fonts_rockwell_bold-webfont.svg#webfont1tvhQwzh) format('svg');
	font-weight: normal;
	font-style: normal;
}
/*---------------------*/
/* Rockwell Regular ---*/
/*---------------------*/
@font-face {
	font-family: 'Rockwell';
	src: url(css_fonts_rockwell-webfont.eot);
	src: local('☺'), url(css_fonts_rockwell-webfont.woff) format('woff'), url(css_fonts_rockwell-webfont.ttf) format('truetype'), url(css_fonts_rockwell-webfont.svg#webfontzabTfhFB) format('svg');
	font-weight: normal;
	font-style: normal;
}