body {
	background:#ffffff url(bg.jpg) repeat;
	color:#333333;
}

a, a:link, a:visited, a:active {
	color:#282828;
}

a:hover{
	color:#9e9e9e;
	/*text-decoration:underline;*/
}

div.Box h4 {
	color:#282828;
   text-shadow: 0 1px 1px #fff;
   font-size: 17px;
   margin-bottom: 10px;
}

a.BigButton {
	background: #282828;
	border: 2px solid #eee;
	color: #fff;
	text-shadow:0 1px 0 #000;
}

a.BigButton:hover {
    color: #fff;
    border: 2px solid #666;
    background: #C4C4C4;
}

h1, h2, h3, h4, h5, h6 {
   text-shadow: 0 1px 1px #fff;
   font-family: Georgia, serif;
}

/* ============================================================= Header */

#Head {
	background: #282828 url(bg_texture.png);
}

#Menu {
    bottom: 0;
    margin-right: 0;
    position: absolute;
    right: 0;
}

#Menu .Alert {
    background: #E32222;
    color: #fff;
    text-shadow: none;
}

#Search #Form_Search {
   width: 190px;
   padding: 4px 3px;
}

/* ============================================================= Entry Screen */

body.Entry #Content div.Box {
	background:#f2f2f2 url(div_box_bg.png) top left no-repeat;
	border:1px solid #c4c4c4;
	margin-bottom:20px;
}
body.Entry form ul li label {
	color:#282828;
}

#dashboard_entrycontroller_index #Panel {
	float:right;
	margin-bottom:50px;
	width:250px;
}

#dashboard_entrycontroller_register #Panel {
	float:right;
	margin-bottom:50px;
	width:250px;
}

#dashboard_entrycontroller_leave #Panel {
	float:right;
	margin-bottom:50px;
	width:250px;
}

/* ============================================================= content */

.Tabs {
	background:#f2f2f2;
	border:1px solid #c4c4c4;
	display:block;
	padding:5px;
}

a.Active, div.Tabs li.Active a {
	background:#FFFFFF;
	color:#282828;
}

.TabLink {
	background:#ffffff url(but_bg.png) left !Important;
	border:1px solid #c4c4c4 !Important;
	color:#282828 !Important;
}

.TabLink:hover {
	background:#e1e1e1;
	border:1px solid #c4c4c4;
}

.DataList .Item {
   background:#f2f2f2 url(div_box_bg.png) top left no-repeat;
	border:1px solid #c4c4c4;
	margin: 10px 0;
}

ul.DataList a.Title {
	font-size:19px;
	font-weight:normal;
	padding:7px 0 5px;
	color:#282828;
}

div.Tabs li a span {
	background:#282828;
	color:#fff;
}

ul.DataList div.Meta strong {
	background:#282828;
	color:#fff;
}

ul.DataList div.Meta span.Announcement {
	background:#282828;
	color:#fff;
}

/* ============================================================= discussions */

#DiscussionForm h2 {
	font-size:19px;
	font-weight:normal;
	line-height:22px;
	padding:7px 0 5px;
	font-family:Arial,Helvetica,sans-serif;
	color:#282828;
}

#DiscussionForm form {
	background:#f2f2f2 url(div_box_bg.png) left top no-repeat;
	border:1px solid #c4c4c4;
	margin:0;
	padding:20px;
}

ul.MessageList li.Item {
	background:#f2f2f2 url(div_box_bg.png) left top no-repeat;
	border:1px solid #C4C4C4;
	margin-bottom:10px;
}

div.Empty {
	background:#f2f2f2 url(div_box_bg.png) left top no-repeat;
	border:1px solid #C4C4C4;
	padding:10px;
}

/* ============================================================= activities */


ul.Activities div.Excerpt a,
ul.Activities div.Meta a {
   color: #282828;
}
ul.Activities div.Excerpt a:hover,
ul.Activities div.Meta a:hover {
   color: #9e9e9e;
}

ul.Activities ul.DataList li {
	background:#F2F2F2 none repeat scroll 0 0;
	border:1px solid #C4C4C4;
	padding-bottom:15px;
}

ul.Activities li.CommentForm input.Button {
	-moz-box-shadow:0 0 0px #fff;
	font-size:12px;
}

/* ==================================================== New Conversation Form */

#ConversationForm h2 {
	font-size:19px;
	font-weight:normal;
	line-height:22px;
	padding:7px 0 5px;
	font-family:Arial,Helvetica,sans-serif;
	color:#282828;
}

#ConversationForm form {
	background:#f2f2f2;
	border:1px solid #c4c4c4;
	margin:0;
	padding:20px;
}

.ac_over {
	background:#c4c4c4;
	color:#282828;
}

.ac_over strong {
	background:#c4c4c4;
	font-weight:normal;
}

#MessageForm {
	background:#F2F2F2;
}

#MessageForm h2 {
	color:#282828;
	padding:0 0 5px;
}

/* ============================================================= search */

#dashboard_entrycontroller_signin #Search{
	display:none;
}

#Search {	
	background:#282828 url(bg_texture.png);
	border-bottom:#282828 1px solid;
	border-right:#282828 1px solid;
	border-left:#282828 1px solid;
	display:block;
	margin:-20px 0 10px 0;
	padding:7px;
   border-radius: 0 0 3px 3px;
}

#Panel {
   overflow: visible;
}


/* ============================================================= sidebar */

div.Box {	
	background:#f2f2f2 url(div_box_bg.png) top left no-repeat;
	color:#282828;
	border:1px solid #C4C4C4;
   padding: 12px 8px;
}

ul.PanelInfo {
	border-top:1px solid #c4c4c4
}

ul.PanelInfo li.Active {
	border-bottom:1px solid #C4C4C4;
}

ul.PanelInfo li {
	background:#e1e1e1;
	border-bottom:1px solid #c4c4c4;
}

ul.PanelInfo li.Active a {
	color:#282828;
}

ul.PanelInfo div.Meta strong {
	background:#282828;
	color:#fff;
}

/* ============================================================= footer */

#Foot {
	clear:both;
	border-top:#c4c4c4 2px solid;
	color:#70727C;
}

#Foot a, #Foot a:link, #Foot a:visited, #Foot a:active {
	color:#282828;
}

#Foot a:hover{
	color:#9e9e9e;
	/*text-decoration:underline;*/
}
#Foot .vanilla-ico {
	background:url(vanilla_ico.png) no-repeat;
	float:left;
	width:15px;
	height:15px;
	margin:0;
	padding:0 7px 7px 0;
}

.Foot {
	background:#f2f2f2;
	border-bottom:1px solid #c4c4c4;
}

/* ============================================================= plugins */

/* File Upload */
div.Attachments {
	background-color:#fff;
}