//
// # Forms
//
// Styleguide #

// -----------------------------------------------------------------------------

// ## Form controls
//
// Styleguide #.1

.form-control() {
  display: block;
  width: 100%;
  height: @input-height-base;
  padding: @padding-base-vertical @padding-base-horizontal;
  font-family: inherit;
  font-size: @font-size-base;
  line-height: @line-height-base;
  border: @input-border solid 1px;
  border-radius: @border-radius-base;
  -webkit-font-smoothing: inherit;

  &,
  &:focus {
    background-color: @input-background;
  }

  &:focus {
    border-color: @input-border-active;
  }

  .navbar-form & {
    border-color: transparent;
  }
}

// -----------------------------------------------------------------------------

// ## Checks and radios
//
// Styleguide #.2

.icheckbox,
.iradio {
  display: inline-block;
  line-height: @line-height-base;

  &:before {
    .icon();
    min-width: 1em;
    font-size: @line-height-base;
    color: lighten(@text-color, 25%);
    content: @icon-circle-blank;
    vertical-align: middle;
  }

  &.checked:before {
    color: @input-border-active;
  }
}

.icheckbox.checked:before {
  content: @icon-ok-circle;
}

.iradio.checked:before {
  content: @icon-dot-circle;
}

// -----------------------------------------------------------------------------

input.InputBox,
input.SmallInput,
textarea.TextBox {
  .form-control();
}

.CheckBoxLabel,
.RadioLabel {
  cursor: pointer;
}
