//
// ## Typography
//
// Styleguide 3

// -----------------------------------------------------------------------------

// ## Headings
//
// Styleguide 3.1

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
}

h1,
h2,
h3 {
  margin-top: @line-height-base;
  margin-bottom: (@line-height-base / 2);
}

h4,
h5,
h6 {
  margin-top: (@line-height-base / 2);
  margin-bottom: (@line-height-base / 2);
}

// -----------------------------------------------------------------------------

// ## Body text
//
// Styleguide 3.2

p,
.P {
  margin: 0 0 (@line-height-base / 2);
}

// -----------------------------------------------------------------------------

.PageDescription {
  margin-bottom: @line-height-base;
}
