#Head {
   margin-bottom: 0;
   padding-bottom: 6px;
   background: #333;
}
.BreadcrumbsWrapper {
   background: #fafafa;
   border-bottom: 1px solid #eee;
   padding: 8px 0;
   margin: 0 0 10px;
   font-size: 11px;
}
.BreadcrumbsWrapper > .Breadcrumbs {
   display: block;
   width: 960px;
   margin: 0 auto;
}

/* Old Html Compatibility */
.SiteMenu { float: right; }


/** Vanilla compatibility fixes for people with customized themes 
.Menu,
#Body { 
    width: 960px;
    margin: 0 auto;
}
#Content {
    width: 680px;
    margin: 0 0 40px;
    float: left;
}
#Panel {
    float: right;
    width: 250px;
}
#Panel .BigButton {
    margin: 10px 0;
}
#Head h1 {
   display: inline-block;
}
ul#Menu {
   float: right;
}
ul#Menu,
ul#Menu li {
    display: inline;
}
ul#Menu li a {
    display: inline-block;
    color: #000;
    background: #efefef;
    padding: 3px 6px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
**/